html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #e5e5e5;
  /* color: #7d7987; */
  display: flex;
  flex-direction: column;
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
}

.button {
  text-decoration: none;
  cursor: pointer;
  /* display: inline-block; */
  text-align: center;
  padding: 10px 700px;
}

.main-link {
  background-color: transparent;
  border: 1.5px solid #458ff6;
  padding: 20px 50px;
  color: #458ff6;
  border-radius: 55px;
  text-decoration: none;
}

.site-header-inner {
  padding: 42px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav {
  display: flex;
  list-style-type: none;
}

.sitenav-item {
  margin-right: 20px;
}

.sitenav-link {
  text-decoration: none;
  color: #1f1534;
  opacity: 0.5;
}

.sitenav-link.active {
  font-weight: 700;
  opacity: 1;
}

.main-content {
  margin-right: 20px;
  flex-grow: 1;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 10px; */
}

.hero-content {
  max-width: 445px;
}

.hero-item {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  color: #000;
}

.hero-link {
  color: #fff;
  background-color: #458ff6;
  border-radius: 55px;
  font-size: 12px;
  font-weight: 700;
  line-height: 60px;
  padding: 20px 40px;
}

.hero-img {
  max-width: 693px;
  width: 100%;
  height: auto;
}

/* SEVICES */

.services {
  padding-top: 220px;
}

.services-content {
  text-align: center;
  max-width: 952px;
  margin: 0 auto;
  width: 100%;
}

.services-card-item img {
  margin-bottom: 21px;
}

.services-title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 60px;
}

.services-text {
  font-size: 18px;
  line-height: 30px;
}

.line {
  display: inline-flex;
  text-align: center;
  width: 56px;
  height: 2px;
  border-radius: 20px;
  background-color: #000;
  margin-bottom: 33px;
}

.services-card-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.services-card-item {
  max-width: 250px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 40px 58px rgba(229, 233, 246, 0.4);
  padding: 54px 37px 43px 37px;
  margin-left: 34px;
  margin-bottom: 37px;
}

.services-btn-wrapper {
  text-align: center;
}

.services-card-item-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
}
.services-card-item-text {
  font-size: 16px;
}

/* EXAMPLE  */

.leading-healthcare {
  margin-top: 200px;
  margin-left: 10px;
}

.reverse .healthcare-container {
  padding-top: 40px;
  flex-direction: row-reverse;
}

.healthcare-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-left: 60px;
  padding: 0px 120px 60px 10px;
}

.content-item {
  color: #000;
  font-style: bold;
  font-size: 36px;
  line-height: 56px;
  margin-top: 0;
}

.content-text {
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 40px;
}

/* COMMENT ARTICLE   */

.comment {
  margin-top: 90px;
  margin-bottom: 90px;
}

.comment-container {
  background-color: #5a98f2;
  border-radius: 24px;
  height: auto;
  padding: 60px 60px 60px 60px;
}
.comment-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.comment-line {
  background-color: #fff;
}

.comment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 90px 0px 90px;
}

.comment-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-chapter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment-text {
  font-weight: 400;
  font-size: 18px;

  color: #fff;
  opacity: 1.5;
}

.comment-img {
  border-radius: 75px;
  margin-right: 20px;
}
.comment-title2 {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.comment-text2 {
  width: 420px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}

/* ARTICLE-BOTTOM */

.article-bottom {
  margin-bottom: 150px;
}

.article-content {
  text-align: center;
}

.article-title {
  color: #000;
  margin-top: 0;
  margin-bottom: 25px;
}

.article-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 69px;
}

.services-card-list {
  width: auto;
}

.article-bottom-li {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.article-bottom-li img {
  width: 100%;
  height: auto;
}

.article-bottom-content {
  padding: 21px 33px 35px;
}

.article-link-wrapper {
  text-align: center;
}

.article-bottom-link {
  background-image: url("https.//picsum.photos/250");
  text-decoration: none;
}

.article-bottom-icon {
  display: inline-block;
  width: 14px;
  height: 9px;
  background-image: url(../img/strelka.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* FOOTER */

.footer-container {
  border-radius: 10px;
  background-color: #67c3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 50px 50px 30px;
}

.footer-wrapper {
  width: 391px;
  color: #fff;
  /* margin-right: 105px; */
  line-height: 28px;
}

.footer-title {
  font-size: 18px;
}

.footer-container-list {
  width: 200px;
  height: 201px;
  list-style-type: none;
}

.footer-container-li {
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
}
